<footer class="footer">
    <div>
{% if page.latex %}
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}

    </div>
</footer>

{% if site.google_adsense.client and page.adsense == true %}
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- www.anyjava.net -->
		<ins class="adsbygoogle"
				 style="display:inline-block;width:728px;height:90px"
				 data-ad-client="ca-pub-9628605866926742"
				 data-ad-slot="9162551504"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
{% endif %}
